@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

//Fonts
$font-family-body: 'Libre Franklin', sans-serif;
$font-size-default: 2rem;

// Primary Colors
$color-primary: hsl(223, 87%, 63%);
$color-primary-50: hsla(223, 87%, 63%, 0.5);
$color-secondary: hsl(223, 100%, 88%);

// Neutral Colors
$color-white: #fff;
$color-black: #000;
$color-neutral-gray: hsl(0, 0%, 59%);
$color-neutral-dark: hsl(209, 33%, 12%);
$color-neutral-dark-50: hsla(209, 33%, 12%, 0.5);
$color-neutral-light: hsl(204, 43%, 93%);

// Shadows
$box-shadow-dark: 0px 10px 25px $color-neutral-dark-50;
$box-shadow-primary: 0px 10px 25px 1px $color-primary-50;

// Feedback Colors
$color-alert: hsl(354, 100%, 66%);

// Border radius
$border-radius-md: 9px;
$border-radius-sm: 4px;

// Typography
body {
	font-size: $font-size-default;
	font-family: $font-family-body;
	line-height: 1.65;
}

.p {
	font-size: $font-size-default;
	margin-bottom: 1.15em;
}

.h1 {
	font-size: 3.052em;
	margin: 2.75rem 0 1.05rem;
	line-height: 1.15;
	margin-top: 0;
}

.h2 {
	font-size: 2.441em;
	margin: 2.75rem 0 1.05rem;
}

.h3 {
	font-size: 1.953em;
	margin: 2.75rem 0 1.05rem;
}

.h4 {
	font-size: 1.563em;
	margin: 2.75rem 0 1.05rem;
}

.h5 {
	font-size: 1.25em;
	margin: 2.75rem 0 1.05rem;
}

.txt-small {
	font-size: 0.8em;
}

// Text weights
.txt-300 {
	font-weight: 300;
}
.txt-600 {
	font-weight: 600;
}
.txt-700 {
	font-weight: 700;
}

// Text Colors
.cw {
	color: $color-white;
}

.cd {
	color: $color-neutral-dark;
}

.cl {
	color: $color-neutral-light;
}

.cp {
	color: $color-primary;
}

.cs {
	color: $color-secondary;
}

// Fill Colors
.bg-w {
	background-color: $color-white;
}

.bg-l {
	background-color: $color-neutral-light;
}

.bg-d {
	background-color: $color-neutral-dark;
}

.bg-p {
	background-color: $color-primary;
}

.bg-p50 {
	background-color: $color-primary-50;
}

.bg-s {
	background-color: $color-secondary;
}

// Shadows
.shadow-d {
	box-shadow: $box-shadow-dark;
}

.shadow-p {
	box-shadow: $box-shadow-primary;
}

// Borders
.br-s {
	border-radius: $border-radius-sm;
}

.br-m {
	border-radius: $border-radius-md;
}
