.container {
	max-width: 642px;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid green;
}

.center-full {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include respond(bp600) {
		flex-direction: row;
		align-content: stretch;
	}
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.flex-center {
	align-items: center;
}

// SPACING

.mt-80 {
	margin-top: 8rem;
}

.mb-36 {
	margin-bottom: 3.6rem;
}

.mb-32 {
	margin-bottom: 3.2rem;
}

.mb-24 {
	margin-bottom: 2.4rem;
}

.mb-64 {
	margin-bottom: 6.4rem;
}

.pb-24 {
	padding-bottom: 2.4rem;
}

.pb-36 {
	padding-bottom: 3.6rem;
}
